<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>custom video</title>
    <link rel="stylesheet" type="text/css" href="public/styles.css">
</head>

<body>
    <div id="jsVideoPlayer" class="videoPlayer">
        <video src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"></video>
        <div class="videoPlayerControls">
            <div class="videoPlayerColumn"><button type="button">볼륨</button></div>
            <div class="videoPlayerColumn"><button type="button" id="jsPlayButton">재생</button></div>
            <div class="videoPlayerColumn"><button type="button">전체화면</button></div>
            <div class="videoPlayerColumn"><span>00:00 / 10:00</span></div>
        </div>
    </div>
    <script type="text/javascript" src="public/main.js"></script>
</body>

</html>