<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>custom video</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
</head>

<body>
    <div id="jsVideoPlayer" class="videoPlayer">
        <video src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"></video>
        <div class="videoPlayerControls">
            <div class="videoPlayerColumn">
                <input type="range" min="0" max="1" step="0.1" value="0.5" id="jsVolume" class="videoPlayerVolume">
                <button type="button" id="jsVolumeBtn"><i class="fas fa-volume-mute">소리 끄기</i></button>
            </div>
            <div class="videoPlayerColumn">
                <button type="button" id="jsPlayBtn" disabled><i class="fas fa-play">재생</i></button>
            </div>
            <div class="videoPlayerColumn">
                <button type="button" id="jsFullScreen"><i class="fas fa-expand">전체화면</i></button>
            </div>
            <div class="videoPlayerColumn">
                <span>
                    <span id="currentTime">00:00</span> / <span id="totalTime">10:00</span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="public/main.js"></script>
</body>

</html>